#root-div {
  background: transparent;
  height: 100vh;
  width: 100%;
  padding: 50px;
  overflow: auto;
}

.img-container {
  height: 140px;
  width: 250px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin: 0;
}

.game-container {
  height: 200px;
  width: 250px;
  margin-right: 20px;
  float: left;
}

#root-div::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #aaa;
}

#root-div::-webkit-scrollbar
{
  width: 12px;
  background-color: #aaaaaa;
  border-radius: 10px;
}

#root-div::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #ffffff;
}
