<div id="root-div">
  <h1>Get in touch with your friends!</h1>
  <h5>Add friends:</h5>
  <input id="friend-request-input" type="text" [(ngModel)]="friendToBe" [ngModelOptions]="{standalone: true}">
  <button id="send-friend-request-button" (click)="sendFriendRequest()"> Send request </button>

  <div *ngIf="this.incomingFriendRequests.incomingFriendRequest">
    <div *ngFor="let fr of this.incomingFriendRequests.senders" class="incoming-request">
      <p class="request-message">User {{fr._doc.sender}} wants to be friend with you:</p>
      <button class="accept-request-button" (click)="acceptFriendRequest(fr._doc.sender, this.user.name)"><i class="fas fa-user-check"></i> Accept</button>
      <button class="reject-request-button" (click)="denyFriendRequest(fr._doc.sender, this.user.name)"><i class="fas fa-user-times"></i> Reject </button>
    </div>
  </div>
  <div class="row">
    <div id="friends-list" class="col-md-2">
      <h3>Friend list:</h3>
      <ul>
        <li *ngFor="let friend of friends" (click)="selectFriend(friend)" [ngClass]="selectedFriend === friend ? 'selected-friend' : 'not-selected-friend'"><span class="bullet">&#8226;</span>{{friend}}</li>
      </ul>
    </div>
    <div id="chat" class="col-md-9">
      <h3>You are currently chatting with <span class="name">{{selectedFriend}}</span></h3>
      <div #windowDiv id="window" class="row">
        <div *ngFor="let message of messages" class="chat-message">
          <p><span class="name">{{message.sender}}</span>: {{message.message}}</p>
        </div>
      </div>
      <form>
        <input id="message-input" type="text" [placeholder]="placeholder" [(ngModel)]="inputMessage" [ngModelOptions]="{standalone: true}">
        <button type="submit" id="send-message-button" (click)="addMessage()" (keyup.enter)="addMessage()">Send</button>
      </form>
    </div>
  </div>
</div>
